page-home {

  .login{
    //background-color: #cf0000;
    color: #ffffff;
    float: right;
    margin-top:150px;
    width: 100px;
  }

  .signUp{
    //background-color: #cf0000;
    color: #ffffff;
    float: right;
    width: 100px;
  }

  .proPage{
    background-color: #cf0000;
    color: #ffffff;
    float: right;
    margin-right: 75px;
    margin-top: 20px;
  }

}
